
h1 {
    font-family: "Copperplate", 'Times New Roman', sans-serif;
    color: rgb(25, 78, 34);
    box-sizing: border-box;
    text-align: center;
}

ul {
    font-family: "Courtier New", monospace, sans-serif;
    color: rgb(69, 91, 218);
    display: block;
    text-align: center;
    list-style: none;
} 